.rchpn-u--no-margin-top {
    margin: 0;
}

.rchpn-u--margin-top--s {
    margin-top: $rchpn-espacement--s;
}

.rchpn-u--margin-top {
    margin-top: $rchpn-espacement;
}
.rchpn-u--margin-top--m {
    margin-top: $rchpn-espacement--m;
}
.rchpn-u--margin-top--l {
    margin-top: $rchpn-espacement--l;
}